<div class='screen-centered'>
  <img src='bg1.png' style='position: fixed; z-index: -999; height: 100%'>
  <div class='event-show' style='background: rgba(255,255,255,0.85); height: 70%; width: 70%; border-radius: 2rem; overflow: hidden'>
    <div class='title-box red lighten-2' style='padding: 1.52rem 1rem 0.912rem 1rem'>
    <h4 style='color: white; margin: 0'>Show Name</h4>
    </div>
    <div class='' style='padding: 2rem'>
      <img class='responsive-img' src='https://lorempixel.com/300/200/nightlife'>
    </div>
    <h5>Location: Earth</h5>
    <h5>Time: 2pm</h5>

    <section>
      <%= form_tag '/text', method: :post do %>
        <%= hidden_field_tag 'event', 'replace me with an event (show) ID' %>
        <%= label_tag 'friend', "Friend's phone number" %>
        <%= text_field_tag :friend %>
      <% end %>
    </section>

  </div>
</div>
