/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require materialize
 *= require nouislider
 */
.btn {border-radius: 0.5rem}

.screen-centered {display: flex; height: 100%; align-items: center; justify-content: center}
.clearfix::after {content: ""; clear: both; display: table;}
.hoverable-dark {transition: box-shadow 0.25s}
.hoverable-dark:hover {box-shadow: 0 8px 17px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.5);}
.select-wrapper {background-color: rgba(0,0,0,0.2)}
input[type=text]:not(.browser-default) {background-color: rgba(0,0,0,0.2); color: #ffffff}
input[type=password]:not(.browser-default) {background-color: rgba(0,0,0,0.2); color: #ffffff}
.cart-margins {margin: 2rem 2rem 1rem 0}

.flash {position: fixed; top: 6rem; left: 2.5rem; z-index: 9999; height: 3rem; width: 20rem; padding: 0.75rem; margin: 0}
[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {border-color: white}
