.events-container {width: 90%; margin: 0 auto}
.events-row {width: 100%; margin-bottom: 20px; margin-left: 0; margin-right: 0}
.events-row:after {content: ""; display: table; clear: both}
.events-card {height: auto; border-radius: 2rem; overflow: hidden; width: 100%}
.events-image-container {position: absolute; top: 0px; left: 0px; bottom: 0px; width: 33.3%; overflow: hidden}
.events-content-container {float: right; width: 66.6%}
.events-title-box {height: 33.3%; padding: 1rem}
.events-title {color: white; margin: 0}
.events-genre {color: white; font-size: 1.15rem}
.events-info-box {height: 66.6%; width: 100%; background: rgba(255,255,255,0.85); padding: 1rem}
.events-info-text {color: #ee6e73; font-size: 1.5rem}
